<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Headline: A News App</title>
</head>
<body>
    <h1>Headlines: A News App</h1>
    <form>
        <input type="text" name="publication" placeholder="Type publication name" />
        <input type="submit" value="View" />
        <hr>
    </form>
    {% for article in articles %}
        <b><a href="{{ article.link }}">{{ article.title }}</a></b> <br>
        <i>{{ article.published }}</i> <br>
        <p>{{ article.summary }}</p> <br>
        <hr />
    {% endfor %}
</body>
</html>